@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

/* Default font for the entire website */
* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* Prata font class */
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    display: none;
}

/* Active navbar underline */
a.active hr {
    display: block;
}

/* Mobile navbar active link */
@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}